apiVersion: apps/v1
kind: Deployment
metadata:
  name: sample-app
spec:
  template:
    spec:
      containers:
      - name: backend-service
        image: ghcr.io/hendrikstone/argocd_service_playground:v0.0.1
        env:
        - name: key
          value: dev
        envFrom:
        - configMapRef:
            name: app-config
        - secretRef:
            name: credentials
