apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml
# Traefik
- traefik/00-role.yaml
- traefik/00-account.yaml
- traefik/00-crd-definition.yaml
- traefik/01-role-binding.yaml
- traefik/02-traefik.yaml
- traefik/02-traefik-services.yaml
# Business applications
- backend.yaml

# Skipper Daemonset
# - skipper/daemonset/daemonset.yaml
# - skipper/daemonset/rbac.yaml

# Skipper Deployment
#- skipper/deployment/rbac.yaml
#- skipper/deployment/deployment.yaml
#- skipper/deployment/hpa.yaml
#- skipper/deployment/service.yaml

# - skipper-deamonset.yaml
