apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml
- backend.yaml
# Skipper Daemonset
# - skipper/daemonset/daemonset.yaml
# - skipper/daemonset/rbac.yaml

# Skipper Deployment
#- skipper/deployment/rbac.yaml
#- skipper/deployment/deployment.yaml
#- skipper/deployment/hpa.yaml
#- skipper/deployment/service.yaml

# - skipper-deamonset.yaml
